* {
	margin: 0px;
	padding: 0px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.active {
    font-weight: bold;
}

.nav-link.active {
    font-weight: bold;
}

.navbar-dark .nav-item > .nav-link.active  {
    color:white;
    background-color: red;
}

.container-fluid {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.floating-label {
    position: relative;
}

.floating-label input {
    padding-top: 1.5rem;
}

.floating-label label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.5rem;
    pointer-events: none;
    transition: all 0.2s ease;
    color: #aaa;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
    top: -1rem;
    left: 0;
    font-size: 0.75rem;
    color: #000;
}


.empty-label {
    display: block;
    height: 1.45rem; /* Adjust this value as needed */
}
