<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>mcquaids</display-name>

	
	<listener>
         <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
    </listener>

<listener>
    <listener-class>com.mcquaids.service.webhooks.google.CalendarWatchStartupListener</listener-class>
</listener>

<servlet>
    <servlet-name>googleCalendarWebhook</servlet-name>
    <servlet-class>com.mcquaids.service.webhooks.google.GoogleCalendarWebhookServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
    <servlet-name>googleCalendarWebhook</servlet-name>
    <url-pattern>/google/calendar/webhook</url-pattern>
</servlet-mapping>



	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			   org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
		    <init-param>
               <param-name>config</param-name>
               <param-value>struts-default.xml,struts-plugin.xml,struts.xml</param-value>
        </init-param>
            <init-param>
        <param-name>struts.action.excludePattern</param-name>
        <param-value>^/google/calendar/webhook.*</param-value>
    </init-param>
        
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*</url-pattern>      
	</filter-mapping>
  

 
	<welcome-file-list> 
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>